.*
!.gitignore
node_modules
__pycache__
# references
*.ref
# mp4
*.mp4
# test files
*_test.*
test.*
test
# output files
*_out.*
out.*
*_out
# datasets
tools/replay_recorder/datasets

maafw_test/config
maafw_test/debug

tools/psd_parser/res

# conda env
workenv

# vscode
*.code-workspace